version: "3.8"
services:
  gateway:
    build:
      context: .
      target: builder
    command: npm run dev
    ports:
      - "3100:3100"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
